@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Sacramento&family=Tiny5&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width : 800px;
    height: 700px;
    margin:auto;
    margin-top: 100px;
    display:grid; /*make the parent grid*/
    border:1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 10px;


}

.child1{
   /* grid-column-start:1 ;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end:1 ;*/
    text-align: left;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;

    grid-row: 1/2;
    grid-column: 1/3;;
    background-color: rgb(244,235,230);
    font-family: "Sacramento", cursive;
}

.child2{
    padding:30px;
    text-align: center;
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #f5eed2;
    color:#383422;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
}

.child3{
  
    grid-row: 2/3;
    grid-column: 1/2;;
    background-color: rgb(253, 140, 19);
}
.child3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child4{
  
    grid-row: 2/3;
    grid-column: 2/4;;
    background-color: rgb(250,232,212);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.child5{
    font-family: "Sacramento", cursive;
  
    grid-row:3/4 ;
    grid-column: 1/2;
    background-color: white;
     display: flex;
  justify-content: space-around;
  align-items: center;
}
.child5 img{
  max-width: 80%;
  height: auto;
  border-radius: 30%;

}
.child6{
  text-align: center;
    grid-row: 3 / 4;
    grid-column: 2/4;
    background-color:whitesmoke;
    font-family: "Sacramento", cursive;
}
.child6 img{
    padding-left: 10px;
    padding-top: 10px;
}

.child7{
    grid-column: 4/5;
    grid-row: 2/4;

    background-color:#8f7bbf;   /* closer to reference purple */
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

  /*  padding:10px; */
    gap:10px;
}

.child7 img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}

.child7 h5{
    font-size:16px;
    font-weight:500;
    color:white;
    max-width:220px;
    line-height:1.5;
}

.child7 button{
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:#ffd54f;
    color:#2e2913;
    font-weight:bold;
    cursor:pointer;
}



@media screen and(max-width :600px) {
    /*stacked view*/
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent > div {
        grid-column: auto;
        grid-row: auto;
    }
}