*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
}

.top{
    height: 300px;
    background: url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}
.top-content{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 2rem;
}
.top h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.top button{
    padding: 12px 30px;
    background: #f39c12;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.activity{
    display: flex;
    padding: 60px;
    gap: 50px;
    align-items: center;
    background: white;
}
.activity-left h2{
    color: #1f3c88;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.activity-left p{
    color: #555;
}
.activity-right img{
    width: 450px;
}
.slider-buttons{
    text-align: center;
    margin-top: 10px;
}
.slider-buttons span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #1f3c88;
    border-radius: 50%;
    margin: 0 5px;
}
.tourism{
    padding: 60px 10%;
}
.tourism h2{
    color: #1f3c88;
    font-size: 32px;
    margin-bottom: 40px;
}
.tourism-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card{
    background: #e9edf3;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}
.card img{
    width: 60px;
    margin-bottom: 15px;
}
.card p{
    font-weight: bold;
    color: #f39c12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.choose{
    padding: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.choose h2{
    color: #1f3c88;
    font-size: 2rem;
    margin-bottom: 30px;
}
.tabs span{
    margin: 0 15px;
    cursor: pointer;
    padding-bottom: 8px;
}
.tabs .active{
    border-bottom: 3px solid #f39c12;
    color: #1f3c88;
}