*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: white;
}
nav h1{
    color: rgb(255, 16, 16);
    font-size: 25px;
    margin-left: 80px;
    /* margin: 10px; */
    padding: 10px;
}

.background img{
    position: relative;
    width: 100%;
    height: 600px;
}
.text{
    position: absolute;
    color: white;
    margin-top: -500px;
    margin-left: 90px;
}
.text h1{
    font-size: 2rem;
}
.text p{
    font-size: 0.8rem;
    width: 300px;
    margin-top: 20px;
}

.cards{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -255px;
}
.cards .card{
    height: 250px;
    color: white;
    background-color: rgb(99, 4, 4);
    width: 33%;
}
.cards .card h2{
    margin-top: 20px;
    font-size: 2rem;
    margin-left: 30px;
}
.cards .card p{
    font-size: 1rem;
    margin-left: 30px;
    margin-top: 20px;
}