*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#edf2f8;
  font-family:sans-serif;
}

/* main grid */
.container{
  width:90%;
  max-width:1000px;
  margin:50px auto;

  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px;
  gap:20px;
  margin-top: 10%;
}

/* common card style */
.card{
  padding:20px;
  border-radius:10px;
  color:white;
}

/* layout positions */
.card1{
  grid-column:1/3;
  background:#7541c8;
}

.card2{
  grid-column:3/4;
  background:#48556a;
}

.card3{
  grid-column:4/5;
  grid-row:1/3;
  background:white;
  color:black;
}

.card4{
  grid-column:1/2;
  background:white;
  color:black;
}

.card5{
  grid-column:2/4;
  background:#19212e;
}

/*PROFILE LAYOUT */

/* profile row (image + name) */
.profile{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:15px;
}

/* profile image */
.profile img{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
}

/* name */
.info h5{
  font-size:14px;
  margin:0;
}

/* small text under name */
.info span{
  font-size:12px;
  opacity:0.7;
}

/* heading text */
.card h4{
  margin-bottom:10px;
  line-height:1.4;
}

/* paragraph text */
.card p{
  font-size:12px;
  line-height:1.5;
  opacity:0.9;
}
